* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    width: 200px;
    height: 200px;
}
div:nth-child(1) {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    background-color: red;
    z-index: 10;
}
div:nth-child(3) {
    position: absolute;
    margin-top: 280px;
    margin-left: 280px;
    background-color: green;
    z-index: 30;
}
div:nth-child(2) {
    position: absolute;
    margin-top: 310px;
    margin-left: 310px;
    background-color: blue;
    z-index: 20;
}
div:nth-child(3) {
    transition: all 3s linear;
}
div:nth-child(3):hover {
    
    transform: rotate(-45grad) scale(1.5);
}