/*
selector{
    style: value;
}
*/

img{
    width: 500px;
    height: 300px;
}

p{ /* блочный элемент не позволяет после себя на одной строке поставить другие элементы даже после измененния ширины */
    width: 500px;
    border: 5px solid rgb(255, 0, 0);
}

a {
    width: 1000px;
    height: 1000px;
}